# Archivos generados por Vite/Electron
out/
dist-renderer/
dist/
.vite/
.rollup.cache/
electron-builder-cache/

# Logs
*.log
npm-debug.log*
electron-log/

# Dependencies
node_modules/

# IDE
.vs
.vscode/
.idea/
*.swp
*.swo
.vs/ # Visual Studio specific files

# OS
.DS_Store
Thumbs.db

# Database files

*.db # Ignora cualquier archivo de base de datos SQLite generado en el directorio del proyecto
IMAXPOS_API_Sync.postman_collection.json
diagnostico-api.js
sync-config.json
test-sync-empresa42.js

# Build artifacts (explicitly for common installer types if not covered by dist/)
*.exe
*.dmg
*.AppImage
*.snap
*.deb
*.rpm
*-unpacked/


# Cosas x
Bases-Referencias/